# Xcode
*.xcodeproj/xcuserdata/
**/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/xcschemes/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used but just in case)
Pods/

# fastlane (not used but just in case)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
